<div class="container">


    <div class="col-md-8">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><small>Podaci o dostavi</small>
                </h1>
            </div>
    </div>
    <div class="col-md-8">
        <div class="payment-info-box">
          <strong><%=@name%> <%=@surname%></strong>
          <strong><%=@address%></strong>
          <strong><%=@city%></strong>
          <strong><%=@country%></strong>
        </div>
    </div>
</div>

<% if @cart.line_items.count!=0 %>

<!-- Placanje -->
  <div class="col-md-8">
 <% if @cart.line_items.count!=0 %>
  <div class="cart-payment">
        <div class="k-p-d">
          <div class="row">
          <div class="col-md-4 korpa" >KORPA</div>
          <div class="col-md-4 dostava2">DOSTAVA</div>
          <div class="col-md-4 placanje2">PLACANJE</div>
          </div>
        </div>
        <div class="payment-box">
          <strong> Cijena </strong>
          <p>Narudzba: <%=@price %>KM</p>
          <p>Isporuka: 30.0KM</p>
          <p>Ukupno: <%=@price+30.00%>KM</p>
        </div>
  </div>


<% end %>

  <a href="<%=carts_path %>"><button type="button" name="button" class="btn btn-inverse right-align">Odustani </button></a>
  <form action="/charges" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js"
    class="stripe-button"
    data-label="Placanje karticom"
    data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
    data-image="http://www.walkamileinhershoes.org/Organizers_Agreement/Resources/RedShoeLogo72dpi.jpg"
    data-name="Uplata"
    data-description="Uplata narudzbe"
    data-amount="<%=@price * 100 + 3000%>">
  </script>
</form>
</div>
<%end%>

<% if !flash[:success].nil? %>
<script>
toastr.options.positionClass = 'toast-bottom-full-width';
toastr.options.extendedTimeOut = 0; //1000;
toastr.options.timeOut = 1000;
toastr.options.fadeOut = 250;
toastr.options.fadeIn = 250;
toastr.success('Uspjesno ste kupili artikle!');
</script>
<%end%>
</div>



